.cartContainer {
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .total {
    margin-top: 20px;
    font-size: 1.2rem;
    font-family: "Cinzel", serif;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
.mercadoPagoButton {
  background-color: #009EE3; 
  margin-top: 20px; 
}

.mercadoPagoButton:hover {
  background-color: #007bb8; 
}