/* Navbar.module.css */


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #EFEFEF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left {
  display: flex;
  align-items: center;
}

.brand {
  font-size: 1.5rem;
  font-family: "Cinzel", serif; /* Agrega la fuente Cinzel aquí */
}

.right {
  display: flex;
  align-items: center;
}

.search {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-left: 3px;
}

