/* Footer.module.css */

.footer {
  background-color: #333; /* Color de fondo del footer */
  color: #fff; /* Color del texto */
  padding: 50px 0; /* Espaciado interno */
}

.footerContent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en dispositivos pequeños */
}

.footerSection {
  flex: 1;
  margin: 0 20px;
  text-align: center; /* Centrar el contenido en dispositivos móviles */
}

.footerSection h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.socialLinks a {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  text-decoration: none;
}

.footerBottom {
  margin-top: 20px;
  text-align: center;
}

.footerBottom p {
  font-size: 14px;
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .footerSection {
    flex-basis: 100%; /* Ocupar todo el ancho en dispositivos pequeños */
    margin-bottom: 20px; /* Agregar un margen inferior */
  }
}
